<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center align-items-center my-4">
  <div class="w-100 text-center">
    <h1 class="my-2">{{user?.companyName}} Inventory</h1>
    <button class="btn btn-primary my-4" (click)="openIngredientForm()">Add New Inventory Item</button>
  </div>
</div>
<app-ingredient-list
[ingredients]="ingredients"
(selectedIngredient)="setSelectedIngredient($event)"
(deleteIngred)="reloadInventory()"
></app-ingredient-list>
<app-ingredient-form
(updateInventory)="reloadInventory()"
[ingredient]="ingredient"
></app-ingredient-form>
