<div class="d-flex flex-row w-100 p-1 justify-content-around align-items-center bg-primary">
  <div>
    <p class="my-auto p-1 pb-2" [routerLink]="['/home']">Home</p>
  </div>
  <div>
    <p class="my-auto p-1 pb-2" [routerLink]="['/products']">Products</p>
  </div>
  <div>
    <p class="my-auto p-1 pb-2">Recipes</p>
  </div>
  <div>
    <p class="my-auto p-1 pb-2" [routerLink]="['/inventory']">Inventory</p>
  </div>
  <div>
    <p class="my-auto p-1 pb-2">Orders</p>
  </div>
  <div>
    <p class="my-auto p-1 pb-2">Admin Dashboard</p>
  </div>
  <div>
    <button class="my-auto p-1 btn btn-light" (click)="handleLogout()">Logout</button>
  </div>
</div>
