<div class="w-100">
  <table class="mx-auto w-75 table table-bordered">
    <thead>
      <tr class="text-center">
        <th>Ingredient Name</th>
        <th>Ingredient type</th>
        <th>Amount In Stock</th>
        <th>Order Threshold</th>
        <th>Unit of Measurement</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of ingredients">
        <td>{{ingredient.ingredientName}}</td>
        <td>{{ingredient.ingredientType}}</td>
        <td>{{ingredient.amountInStock}}</td>
        <td>{{ingredient.orderingThreshold}}</td>
        <td>{{ingredient.unitOfMeasurement}}</td>
        <td class="text-center"><button class="btn btn-primary" (click)="setSelectedIngredient(ingredient.ingredientId)">Update</button></td>
        <td class="text-center"><button class="btn btn-danger" (click)="deleteIngredient(ingredient.ingredientId)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
